.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }

.main-site-box {
  border-radius: 10px;
  width: 200px;
  height: 80px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.stopka-strony {
  bottom: 0%;
  width: 100%;
  position: fixed;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}

.home-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #9425dd;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}